# Core deep learning framework
torch==2.10.0
torchvision==0.25.0

# Quantum computing framework
pennylane==0.44.0
pennylane_lightning==0.44.0

# Classical ML & numerics
scikit-learn==1.8.0
numpy==2.4.2
scipy==1.17.1

# Visualisation
matplotlib==3.10.8
pillow==12.1.1
